<!DOCTYPE html>
<html>

<head>
	<title>Adminstração do clube</title>
	<meta charset="utf-8" />
    <script src="angular.min.js"></script>
    <script>
        var app = angular.module("admin_clube", []);
        app.controller("admin_clube_ctrl", function($scope,$http){
            $scope.login_valido = 0;
            $scope.lista_jogadores = [];
            $scope.amistosos = [];            
            
            $scope.listar_jogadores = function (){
                url = "http:./listar_jogadores.php";
                $http.get(url).then(function (response) {
                    $scope.lista_jogadores = response.data.records;
                    //$scope.jogadores_escalados();
                });
            }
            
            $scope.listar_amistosos = function (){
                url = "http:./listar_amistosos.php";
                $http.get(url).then(function (response) {
                    $scope.amistosos = response.data.records;
                });
            }
            
            $scope.jogadores_escalados = function(){
                for (i=0; i<$scope.lista_jogadores.length; i++){
                    alert($scope.lista_jogadores[i]);
                }
            }

            
            $scope.taticas = ['3-4-3','3-5-2','4-4-2','4-3-3','5-4-1'];
            $scope.buscar_tatica = function(){
                url = "http:./tatica.php";
                $http.get(url).then(function (response) {
                    var resp = parseInt(response.data) - 1;
                    if(resp != -1){
                        $scope.formacao_tatica = $scope.taticas[resp];
                    }
                });
                
            }
            
            $scope.disputar_amistoso = function(id_amistoso){
                alert(id_amistoso);
            }
            
            $scope.vender_jogador = function(jog){
                alert(jog['nome_jogador']);
            }
            
            $scope.verificar_sessao = function (){
                url = "http:./session.php";
                $http.get(url).then(function (response) {
                    $scope.login_valido = response.data;
                    if($scope.login_valido == 0){
                        window.location.href = "http:./index.html";
                    } else {
                        $scope.listar_jogadores();
                        $scope.buscar_tatica();
                        $scope.listar_amistosos();
                    }
                });
            }                        
            
            $scope.verificar_sessao();
            
        })
    </script>
</head>

<body>
    <div ng-app="admin_clube" ng-controller="admin_clube_ctrl">
        <div id="lista_jogadores">
            <h3>Jogadores</h3><br>
            <table>
                <thead>
                    <tr>Nome</tr>
                    <tr>Força</tr>
                    <tr>Valor</tr>
                    <tr>Posição</tr>
                    <tr>Vender</tr>
                </thead>
                <tr ng-repeat="j in lista_jogadores | orderBy : 'forca' | orderBy : 'posicao'">
                    <td>{{ j.nome_jogador }}</td>
                    <td>{{ j.forca }}</td>
                    <td>{{ j.forca * 10}}</td>
                    <td>{{ j.posicao }}</td>
                    <td><input type="button" ng-click="vender_jogador(j)" value="Vender"</td>
                </tr>
            </table>
            <br><a href="./comprar_jogadores.php">Comprar Jogadores</a>	
        </div>
        <div id="tatica">
            <h3>Formação Tática</h3>
            <select ng-model="formacao_tatica">
                <option ng-repeat="x in taticas">{{x}}</option>
            </select>
        </div>
        
        <div id="amistosos">
            <h3>Amistosos</h3>
            <table>
                <tr ng-repeat="a in amistosos">
                    <td>{{a.nome_clube }}</td>
                    <td><input type="button" ng-click="disputar_amistoso(a.id_amistoso)" value="Disputar"></td>
                </tr>
            </table>
        </div>

    </div>
    <br><a href="./deslogar.php">Deslogar</a>	
</body>

</html>
