<!DOCTYPE html>
<html>

<head>
	<title>Adminstração do clube</title>
	<meta charset="utf-8" />
    <script src="angular.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="admin_clube.js"></script>
</head>

<body>
    <div ng-app="admin_clube" ng-controller="admin_clube_ctrl">
        <div id="info_clube">
            <h2>Nome Clube: {{ nome_clube }}</h2>
            <h3>Patrimônio: ${{ patrimonio_clube }} </h3>
        </div>
        
        <div id="tatica">
            <h3>Formação Tática</h3>
            <select ng-change="alterar_tatica()" ng-model="formacao_tatica">
                <option ng-repeat="x in taticas">{{x}}</option>
            </select>
        </div>
        <div id="lista_jogadores">
            <h3>Jogadores</h3><br>
            <table>
                <thead>
                    <td>Nome</td>
                    <td>Força</td>
                    
                    <td>Posição</td>
                    <td>Escalar</td>
                    <td>Valor</td>
                    <td>Vender</td>
                </thead>
                <tr ng-repeat="j in lista_jogadores | orderBy : 'posicao'">
                    <td>{{ j.nome_jogador }}</td>
                    <td>{{ j.forca }}</td>
                    <td ng-if="j.posicao == 1">Goleiro</td>
                    <td ng-if="j.posicao == 2">Defesa</td>
                    <td ng-if="j.posicao == 3">Meio-Campo</td>
                    <td ng-if="j.posicao == 4">Ataque</td>
                    <td ng-if="j.escalado == 0"><input type="button" ng-click="escalar_jogador(j)" value="Escalar"></td>
                    <td ng-if="j.escalado == 1"><input type="button" ng-click="descalar_jogador(j)" value="Descalar"></td>
                    <td>$ {{ j.forca * 9}} </td>
                    <td><input type="button" ng-click="vender_jogador(j)" value="Vender"></td>
                </tr>
            </table>
            <input type="button" ng-click="limpar_escalacao()" value="Limpar Escalação">
            <input type="button" ng-click="salvar_escalacao()" value="Salvar Escalação">            
            <br><a href="./comprar_jogador.html">Comprar Jogadores</a>	
        </div>
        
        
        <div id="amistosos">
            <h3>Amistosos</h3>
            <table>
                <tr ng-repeat="a in amistosos">
                    <td>{{a.nome_clube }}</td>
                    <td><input type="button" ng-click="disputar_amistoso(a.id_amistoso)" value="Disputar"></td>
                    <td><input type="button" ng-click="rejeitar_amistoso(a)" value="Rejeitar"></td>
                </tr>
            </table>
            <br><a href="./marcar_amistoso.php">Marcar amistoso</a>	
        </div>

    </div>
    <br><a href="./deslogar.php">Sair</a>
</body>

</html>
