<!DOCTYPE html>
<html>

<head>
	<title>Início</title>
	<meta charset="utf-8" />
    <script src="angular.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <div ng-app="inicio_fastfoot" ng-controller="inicio_fastfoot_controller">
        <div id="login">
            <span ng-if="mostrar_login_invalido">Login inválido<br></span>
            Login:<input type="text" ng-model="login"> <br>
            Senha:<input type="password" ng-model="senha"> <br>
            <button ng-click="logar()">Logar</button> <br>
        </div>
        
        <div id="cadastrar">
            Insira o Login:<input type="text" ng-model="novo_login"> <br>
            Insira a Senha:<input type="password" ng-model="novo_senha"><br>
            Reinsira a Senha:<input type="password" ng-model="novo_senha2"><br>
            <span ng-if="novo_senha != novo_senha2">Senhas não conferem<br></span>
            Insira nome do seu time:<input type="text" ng-model="novo_nome_time"> <br>
            <button ng-click="cadastrar()">Cadastrar</button><br>
        </div>
    </div>	
</body>

</html>
