<!DOCTYPE html>
<html>

<head>
	<title>Início</title>
	<meta charset="utf-8" />
    <script src="angular.min.js"></script>
    <script src="jquery.min.js"></script>
    <script>
        var app = angular.module("inicio_fastfoot", []);
        app.controller("inicio_fastfoot_controller", function($scope,$http){
            $scope.logar = function(){
                var data = $.param({
                    login: $scope.login,
                    senha: $scope.senha,
                });
				var config = {
                    headers : {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                    }
                }
                var url = "http:./login_valido.php";
				$http.post(url, data, config).then(function (response) {
                    $scope.login_valido = response.data;
                    if($scope.login_valido == 1){
                        window.location.href = "http:./admin_clube.html";
                    } else {
                        $scope.m_login_valido = 1;
                    }
                });
                
            }   
            $scope.verificar_sessao = function (){
                url = "http:./session.php";
                $http.get(url).then(function (response) {
                    $scope.login_valido = response.data;
                    if($scope.login_valido == 1){
                        window.location.href = "http:./admin_clube.html";
                    }
                });
            } 
            
            $scope.cadastrar = function(){
                alert("cad");
            }
            
            $scope.login = "admin";
            $scope.senha = "admin";
            $scope.m_login_valido = 0;
            $scope.verificar_sessao();
             
            
        })
    </script>
</head>

<body>
    <div ng-app="inicio_fastfoot" ng-controller="inicio_fastfoot_controller">
        <div id="login">
            <span ng-if="m_login_valido">Login inválido<br></span>
            <input type="text" ng-model="login"> <br>
            <input type="password" ng-model="senha"> <br>
            <button ng-click="logar()">Logar</button> <br>
        </div>
        
        <div id="cadastrar">
            <input type="text" ng-model="novo_login"> <br>
            <input type="password" ng-model="novo_senha"><br>
            <input type="password" ng-model="novo_senha2"><br>
            <span ng-if="novo_senha != novo_senha2">Senhas não conferem<br></span>
            <button ng-click="cadastrar()">Cadastrar</button><br>
        </div>
    </div>	
</body>

</html>
