<!DOCTYPE html>
<html>

<head>
	<title>Comprar Jogador</title>
	<meta charset="utf-8" />
    <script src="angular.min.js"></script>
    <script src="comprar_jogador.js"></script>
    <link rel="stylesheet" type="text/css" href="fastfoot.css">
</head>

<body>
    <center>
	<div class="principal" ng-app="comprar_jogador" ng-controller="comprar_jogador_controller">
        <div class="secundaria">
            <center>
                <h1>FASTFOOT</h1>
            </center>
        </div>
        <center>
        <div  class="secundaria" id="lista_jogadores">
            <h3>Jogadores à Venda</h3><br>
            <table>
                <thead>
                    <td>Nome</td>
                    <td>Força</td>
                    <td>Posição</td>
                    <td>Valor</td>
                    <td>Comprar</td>
                </thead>
                <tr ng-repeat="j in lista_jogadores | orderBy : 'posicao'">
                    <td>{{ j.nome_jogador }}</td>
                    <td>{{ j.forca }}</td>
                    <td ng-if="j.posicao == 1">Goleiro</td>
                    <td ng-if="j.posicao == 2">Defesa</td>
                    <td ng-if="j.posicao == 3">Meio-Campo</td>
                    <td ng-if="j.posicao == 4">Ataque</td>
                    <td>$ {{ j.forca * 9}} </td>
                    <td><input type="button" ng-click="comprar_jogador(j)" value="Comprar"></td>
                </tr>
            </table>
            <br><a href="./admin_clube.html">Voltar</a>	
            <br><a href="./deslogar.php">Sair</a>
        </div>
        </center>
    </div>	
    </center>
</body>

</html>
